<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {#  UIKIT CSS #}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/uikit/css/uikit.css') }}">
        {#  ./UIKIT CSS #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#  UIKIT CSS #}
            <script src="{{ asset('styles/uikit/js/uikit.js') }}"></script>
            <script src="{{ asset('styles/uikit/js/uikit-icons.js') }}"></script>
            {#  ./UIKIT CSS #}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_nav.html.twig' %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>

        </footer>

    </body>
</html>
